.green {
  background-color: green;
  width: 100px;
  height: 25px;
  border: 2px solid black;
  color: white;
}

.red {
  background-color: red;
  width: 100px;
  height: 25px;
  border: 2px solid black;
  color: white;
}
