doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-01.css')
  body
    h1 Drill 1

  div#contain
    input#input1('type=text')
    span +
    input#input2('type=text')
    button#sum =

    div#sum1

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-01.js')
