doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-04.css')
#container    
  body
    h1 Drill 4

    input#input

    button#go 4th

    div#tables


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-04.js')
