doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-05.css')
  body
    h1 Drill 5

    input#input

    button#button Even Squares Mutha Sucka

    div#table

    div#evens

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-05.js')
