doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-06.css')
  body
    h1 Drill 6

    input#input

    button#button Go Mutha Sucka

    div#end

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-06.js')
