doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-13.css')
  body
  div.all
    h1 Drill 13

    input#input

    button#button Go!

    div.container

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-13.js')
