doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-16.css')
  body
    h1 Drill 16 - AJAX


input#shares(type='text' placeholder="# of Shares")
input#symbol(type='text' placeholder="Stock Symbol")
button#get Get Quote

div.container
 div#quote

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-16.js')
