doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/d-18.css')
  body
    h1 Drill 18 - AJAX


input#symbol(type='text' placeholder="Stock Symbol")
button#get Auto Update

div.container
 div#quote

table
  thead
    tr
      td Symbol
      td Quote
  tbody

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-18.js')
