doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stock Graph
    link(rel='stylesheet', href='./css/d-24.css')

  body
    h1 Drill 24 - Weather Demo

#controls
  h1 Stock Graph
  input#zip(type='text' placeholder="Zip Code")
  button#get Get Wind

#graph



    script(src='./js/vendor/jquery-2.1.0.js')

    script(type='text/javascript', src='http://www.amcharts.com/lib/3/amcharts.js')
    script(type='text/javascript', src='http://www.amcharts.com/lib/3/gauge.js')
    script(type='text/javascript', src='http://www.amcharts.com/lib/3/themes/none.js')


    script(src='./js/source/d-24.js')
