doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stock Graph
    link(rel='stylesheet', href='./css/d-26.css')

  body
    h1 Drill 26 - 10 day forecast


  input#zip(type='text' placeholder="Zip Code")

  button#get GO



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-26.js')
